.main{
    background-image: url(./../../assets/Banner.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 550px;
    .container{
        height: 100%;
        padding-left: 15vw;
        display: flex;
        justify-content:start;
        align-items:center;
    }
    &__card{
        width: 300px;
        height: 245px;
        &-text{
            font-family: Yellowtail;
            font-size: 22px;
            font-weight: 400;
            color: #68A47F;
        }
        &-title{
            padding-bottom: 30px;
            font-family: Roboto;
            font-size: 41px;
            font-weight: 800;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #274C5B;
        }
        &-btn{
            background-color: #EFD372;
            color: #274C5B;
            font-size: 14px;
            font-weight: 600;
            width:150px;
            height: 50px;
            gap: 10px;
            border-radius: 8px;
            border:2px solid #EFD372;
            display: flex;
            align-items:center;
            justify-content:center;
            box-shadow: 0px 3px 10px 0px rgba(137, 137, 137, 0.699);
            &:hover{
                // box-shadow: 0px 3px 10px 0px rgb(117, 115, 115);
                transition:all 0.3s;
                background-color:#FFF;
            }
        }
    }
}
//------ get -----
.get{
    .container{
        height: 440px;
        display: flex;
        flex-wrap:wrap ;
        align-items:center;
        justify-content:center;
        gap: 25px;
    }
    &__Natural{
        background-image: url(./../../assets/natural.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 420px;
        padding: 61.4px 40px;
        border-radius: 18px;
        &-text{
            font-family: Yellowtail;
            font-size: 22px;
            font-weight: 400;
            color:#FFF;
        }
        &-title{
            width: 50%;
            font-family: Roboto;
            font-size: 30px;
            font-weight: 800;
            color:#FFF;
        }
    }
    &__Offer{
        background-image: url(./../../assets/offer.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 420px;
        padding: 61.4px 40px;
        border-radius: 18px;
        &-text{
            font-family: Yellowtail;
            font-size: 22px;
            font-weight: 400;
            color: #68A47F;
        }
        &-title{
            width: 57%;
            font-family: Roboto;
            font-size: 30px;
            font-weight: 800;
            color: #274C5B;
        }
    }
}